div#conteudoAPI{
    margin-top: 10px;
}
span.spanAPI p,#conteudoAPI li{
    text-align: center;
    font-size: 1.2em;
}
h4.tituloAPI{
    background-color: rgb(255, 179, 14);
    font-size: 1.3em;
    text-align: center;
    color:#101010;
    border-radius: 5px;
    padding: 3px 0;
    font-weight: bold;
}
#imagemEpisodio{
    box-shadow: 2px 2px 3px #000;
    width: 175px;
}
