/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 364.98px) { 
    h1.display-2{
        font-size: 2em;
    }
 }
@media (min-width: 365px) and (max-width: 456.98px) { 
    h1.display-2{
        font-size: 2.5em;
    }
 }
@media (min-width: 425.98px) and (max-width: 456.98px) { 
    h1.display-2{
        font-size: 2.8em;
    }
 }
@media (min-width: 457px) and (max-width: 575.98px) { 
    h1.display-2{
        font-size: 3.1em;
    }
 }
@media (max-width:575.98px){
    .img10{
        background-image: url("../imagens/sabreWindu.jpg");
    }
    h2{
        font-size: 1.4em;
    }
    blockquote.blockquote{
        font-size: 1.1em;
    }
    p.lead{
        font-size: 0.9em;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1.display-2{
        font-size: 3.5em;
    }
 }

/* Medium devices (tablets, less than 992px)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1.display-2{
        font-size: 4em;
    }
 }

/* Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }*/

/* X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }*/

/* XX-Large devices (larger desktops)*/
/* No media query since the xxl breakpoint has no upper bound on its width */
