/* imagend do parallax */
.img1{
    background-image: url("../imagens/fundo_estrelado.png");
}
.img2{
    background-image: url("../imagens/r2d2.png");
}
.img2_1{
    background-image: url("../imagens/leia.jpg");
}
.img3{
    background-image: url("../imagens/morteAosJedis_responsividade.jpg");
}
.img4{
    background-image: url("../imagens/jarjarBinks.jpg");
}
.img5{
    background-image: url("http://68.media.tumblr.com/0a0ec3e8d4037727d15608bd7d1633ea/tumblr_inline_o5a1g8gQlQ1seaxdv_500.gif");
}
.img6{
    background-image: url("../imagens/Conselho_Jedi_e_Anakin.png");
}
.img7{
    background-image: url("../imagens/padmeAmidala.jpeg");
}
.img8{
    background-image: url("../imagens/darth_maul.png");
}
.img9{
    background-image: url("../imagens/kenobi.png");
}
.img10{
    background-image: url("../imagens/Naboo_celebration.png");
}
@media (max-width:575.98px){
    .img2_1{
        background-image: url("../imagens/leia_responsividade.jpg");
    }
    .img3{
        background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F64.media.tumblr.com%2Fcc405404914641a671c3f088df16fc7a%2Ftumblr_p2jggqx7WR1qbxh0uo1_r2_500.gifv&f=1&nofb=1&ipt=187cb9b8d9a44fc1d54d7f947ed89a4fc1f5b1e398c5244280dc9dd1b8e43aa8&ipo=images");
    }
    .img5{
        background-image: url("../imagens/pequeno_anakin.png");
    }
    .img8{
        background-image: url("https://i.gifer.com/I3Nb.gif");
    }
    .img9{
        background-image: url("../imagens/kenobi_responsividade.png");
    }
}