*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* definição das fontes */
@font-face {
    font-family: "fonte star wars";
    src: url("../fontes/SF\ Distant\ Galaxy.ttf");
}
@font-face{
    font-family: "bebas kai";
    src:url("../fontes/BebasKai.ttf");
}
body,html{
    font: 16px;
    height: 100%;
    background-color: #1a1722;
}
a{
    cursor: pointer;
}
/* barra de navegação */
.nav .nav-item a.active{
    background-color:rgba(58, 58, 228, 0);
    border:1px solid rgb(255, 179, 14);
    color:rgb(255, 179, 14);
}
.nav .nav-item a{
    color: rgb(255, 255, 255);
}
.nav .nav-item a:hover{
    color: rgb(255, 179, 14);
}
.dropdown-menu a.dropdown-item{
    color:#1b1919
}
.nav .nav-item .dropdown-menu{
    background-color: #1a1722;
    color:#fff;
}
.nav .nav-item .dropdown-menu a:hover{
    background-color: #000000;
    color:rgb(255, 179, 14);
}
.nav .nav-item .dropdown-menu a{
    color:#fff;
}
/* logo */
.conteudo-titulo span.titulo_logo{
    font-family: "fonte star wars";
}
/* cards */
h2{
    color:rgb(39, 115, 248);
    padding:0 30px;
    font-family: "bebas kai";
    letter-spacing: 1.5px;
}
p{
    text-align: justify;
    padding: 10px 30px;
    color:rgb(255, 179, 14);
}
.conteudo ul{
    list-style:none;
    text-align: center;
    color:rgb(255, 179, 14);
}
/* cards de bilheteria */
.card .card-header .nav .nav-item a:hover{
    border:1px solid rgb(255, 179, 14);
}
.card .card-body .card-title, .card-subtitle{
    color: aliceblue;
}
/* citação */
blockquote{
    text-align: center;
    color:rgb(39, 115, 248);
}
.media img.align-self-center{
    width:150px;
    border-radius:8px;
    box-shadow: 2px 2px 3px #000;
}
/* estilo dos títulos do parallax */
.conteudo-titulo{
    position: absolute;
    top:40%;
    width: 100%;
    text-align: center;
}
.conteudo-titulo h1.titulo{
    font-family: "bebas kai";
    color:rgb(247, 241, 241);
    text-shadow: 2px 2px 3px #000000;
}
/* efeito parallax */
.parallax{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
/* imagens do parallax */
.img1{
    background-image: url("../imagens/fundo_estrelado.png");
}
.img2{
    background-image: url("../imagens/fundo_estrelado.png");
}
.img3{
    background-image: url("../imagens/nave.png");
}
.img4{
    background-image: url("../imagens/estrela_morte.png");
}
.img5{
    background-image: url("../imagens/bilheteria_fundo.png");
}
.img6{
    background-image: url("../imagens/tatooine_fundo.png");
}
.img7{
    background-image: url("../imagens/bilheteria2_fundo.png");
}
.img8{
    background-image: url("../imagens/yoda_fundo.png");
}
.img9{
    background-image: url("../imagens/jedi_sith_fundo.png");
}
.img10{
    background-image: url("../imagens/sabre_fundo.png");
}
.img11{
    background-image: url("../imagens/vader_fundo.png");
}
/* media querys */
@media (max-width:768px){
    /* esconde a imagem do episódio para medium devices e estiliza 
    botão de modo diferente */
    .media img{
        display: none;
    }
    .card .card-body a.btn{
        width: 100%;
        font-size:1.2em;
    }
}