/* imagend do parallax */
.img1{
    background-image: url("../imagens/fundo_estrelado.png");
}
.img2{
    background-image: url("../imagens/r2d2.png");
}
.img2_1{
    background-image: url("../imagens/leia.jpg");
}
.img3{
    background-image: url("../imagens/morteAosJedis_responsividade.jpg");
}
.img4{
    background-image: url("../imagens/naboo.jpg");
}
.img5{
    background-image: url("http://68.media.tumblr.com/0a0ec3e8d4037727d15608bd7d1633ea/tumblr_inline_o5a1g8gQlQ1seaxdv_500.gif");
}
.img6{
    background-image: url("../imagens/Conselho_Jedi_e_Anakin.png");
}
.img7{
    background-image: url("../imagens/naboo2.jpeg");
}
.img8{
    background-image: /*url("../imagens/darth_maul.png");*/ url("https://i.gifer.com/I3Nb.gif")
}
.img9{
    background-image: url("../imagens/kenobi.png");
}
.img10{
    background-image: url("../imagens/Naboo_celebration.png");
}
@media (max-width:575.98px){
    .img2_1{
        background-image: url("../imagens/leia_responsividade.jpg");
    }
    .img3{
        background-image: url("../imagens/morteAosJedis_responsividade.jpg");
    }
    .img5{
        background-image: url("../imagens/pequeno_anakin.png");
    }
    .img9{
        background-image: url("../imagens/kenobi_responsividade.png");
    }
}