/* imagens do parallax */
.img1{
    background-image: url("../imagens/fundo_estrelado.png");
}
.img2{
    background-image: url("../imagens/r2d2.png");
}
.img2_1{
    background-image: url("../imagens/leia.jpg");
}
.img3{
    background-image: url("https://i.pinimg.com/originals/65/ad/98/65ad98e23de4f3c6a61be4e98c9d3077.gif");
}
.img4{
    background-image: url("http://25.media.tumblr.com/8a953304d5f48fb76933695514d506e3/tumblr_mrhtbpXIaV1qe8p31o1_500.gif");
}
.img5{
    background-image: url("../imagens/Anakin\ e\ padme.webp");
}
.img6{
    background-image: url("https://pa1.narvii.com/6529/0aea0b2b9ac170da4dce0b995db5dbdfe77f8d65_hq.gif");
}
.img7{
    background-image: url("../imagens/naboo2.jpeg");
}
.img8{
    background-image: url("../imagens/dookuXyoda.jpg");
}
.img9{
    background-image: url("../imagens/kenobi.png");
}
.img10{
    background-image: url("../imagens/Naboo_celebration.png");
}
@media (max-width:575.98px){
    .img2_1{
        background-image: url("../imagens/leia_responsividade.jpg");
    }
    .img4{
        background-image: url("https://i.pinimg.com/originals/5f/97/91/5f9791d492d1851de276d3e0aa683e88.gif");
    }
    .img6{
        background-image: url("https://media.giphy.com/media/mDHHg3LdFvmyQ/giphy.gif");
        
    }
   .img8{
        background-image: url("../imagens/dookuXyoda_responsividade.jpg");
    }
}