.centro{
    text-align: center;
}
li a{
    color:rgb(39, 115, 248);
    padding-top: 5px;
}
li a:hover{
    text-decoration: underline;
    color:rgba(39, 116, 248, 0.589);
}
.cartaDev-sobre{
    background: url("../imagens/fundo_estrelado.png"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}